In [9]:
# 실수
print("#7: {0:.3f}".format(8.3/2.7))
y = 2.5*4.7
print("#8: {0:.1f}".format(y))
r = 8/float(3)
print("#9: {0:.2f}".format(r))

#7: 3.074
#8: 11.8
#9: 2.67

In [10]:
# math 모듈 임포트
from math import exp, log, sqrt

In [15]:
print("#10: {:.4f}".format(exp(3)))
print("#10: {:.2f}".format(log(4)))
print("#10: {:.1f}".format(sqrt(81)))

#10: 20.0855
#10: 1.39
#10: 9.0

In [21]:
# split
string1 = "My deliverable is due in May"
string1_list1 = string1.split()
string1_list2 = string1.split(" ", 2)
print(string1_list1)
print(string1_list2)

string2 = "Your,deliverable,is,due,in,June"
string2_list = string2.split(',')
print(string2_list)

['My', 'deliverable', 'is', 'due', 'in', 'May']
['My', 'deliverable', 'is due in May']
['Your', 'deliverable', 'is', 'due', 'in', 'June']

In [22]:
# join
print("#25: {}".format(','.join(string2_list)))

#25: Your,deliverable,is,due,in,June

In [29]:
# strip
string3 =" Remove  unwanted characters   from this string.\t\t     \n"
print("#26: {}".format(string3))
string3_lstrip = string3.lstrip()
print("#27: {}".format(string3_lstrip))
string3_rstrip = string3.rstrip()
print("#28: {}".format(string3_rstrip))
string3_strip = string3.strip()
print("#28: {}".format(string3_strip))

#26:  Remove  unwanted characters   from this string.

#27: Remove  unwanted characters   from this string.

#28:  Remove  unwanted characters   from this string.
#28: Remove  unwanted characters   from this string.

In [36]:
string4 = "$$Here's another string that has unwanted characters.__----++"
print("#29: {}".format(string4))
string4_strip = string4.strip('$_-+')
print("#30: {}".format(string4_strip))

#29: $$Here's another string that has unwanted characters.__----++
#30: Here's another string that has unwanted characters.

In [41]:
# lower, upper, capitalize
string6 = "Here's WHAT Happens WHEN You Use lower."
print("#34: {}".format(string6.lower()))
print("#35: {}".format(string6.upper()))
print("#36: {}".format(string6.capitalize()))

string6_list = string6.split()
for word in string6_list:
    print("#37: {}".format(word.capitalize()))

#34: here's what happens when you use lower.
#35: HERE'S WHAT HAPPENS WHEN YOU USE LOWER.
#36: Here's what happens when you use lower.
#37: Here's
#37: What
#37: Happens
#37: When
#37: You
#37: Use
#37: Lower.

In [42]:
# 정규 표현식과 패턴 매칭
import re

In [60]:
# 문자열 내에 등장하는 패턴의 횟수를 세기
string = "The quick brown for jumps over the lazy dog"
string_list = string.split()
pattern = re.compile(r"THE", re.I) # 컴파일을 통해서 프로그램 속도 향상
count = 0

for word in string_list:
    if pattern.search(word):
        count += 1

print(count)

2

In [64]:
# 문자열 내에서 발견된 패턴 출력하기
string = "The quick brown for jumps over the lazy dog."
string_list = string.split()
pattern = re.compile(r"(?P<match_word>The)", re.I)
print("#39:")
for word in string_list:
    if pattern.search(word):
        print("{}".format(pattern.search(word).group('match_word')))

#39:
The
the

In [66]:
# 문자열 내 "the"를 "a"로 대체하기
string = "The quick brown fox jumps over the lazy dog."
string_to_find = r"The"
pattern = re.compile(string_to_find, re.I)
print("#40: {}".format(pattern.sub("a", string)))

#40: a quick brown fox jumps over a lazy dog.

In [15]:
# 오늘 날짜와 년, 월, 일 요소들을 출력하기 
from datetime import date, time, datetime, timedelta

today = date.today()
print("today: {}".format(today))
print("{}".format(today.year))
print("{}".format(today.month))
print("{}".format(today.day))
current_datetime = datetime.today()
print("{}".format(current_datetime))
print(datetime.now())
print(datetime.today())

today: 2017-12-23
2017
12
23
2017-12-23 22:21:36.267569
2017-12-23 22:21:36.267647
2017-12-23 22:21:36.267749

In [25]:
# timedelta 함수를 이용하여 새로운 날짜 계산하기
one_day = timedelta(days=-1)
yesterday = today + one_day
print("{}".format(yesterday))
eight_hours = timedelta(hours=-8)
print("{}, {}".format(eight_hours.days, eight_hours.seconds))

2017-12-22
-1, 57600

In [29]:
# 두 날짜 사이의 날짜 차이를 계산하기
date_diff = today - yesterday
print(date_diff)
print("{}".format(str(date_diff).split()[0]))

1 day, 0:00:00
1

In [41]:
# date 객체를 특정 형식의 문자열로 만들기
print("{}".format(today.strftime('%m/%d/%Y')))
print("{}".format(today.strftime('%b %d, %Y')))
print("{}".format(today.strftime('%Y-%m-%d')))
print("{}".format(today.strftime('%B %d, %Y')))

12/23/2017
Dec 23, 2017
2017-12-23
December 23, 2017

In [44]:
# 다른 date 형식을 지닌 4가지 문자열에 기반한 각각 2종류의 datetiem 객체들과 date 객체들
date1 = today.strftime('%m/%d/%Y')
date2 = today.strftime('%b %d, %Y')
print(datetime.strptime(date1, '%m/%d/%Y'))
print(datetime.strptime(date2, '%b %d, %Y'))

2017-12-23 00:00:00
2017-12-23 00:00:00

In [53]:
# sort 함수
unordered_list = [3,4,1,7,0,2]
print(unordered_list)
list_copy = unordered_list[:]
print(list_copy)
list_copy.sort()
print(list_copy)

[3, 4, 1, 7, 0, 2]
[3, 4, 1, 7, 0, 2]
[0, 1, 2, 3, 4, 7]

In [57]:
# sorted 함수
my_lists = [[1,2,3,4], [4,3,2,1], [2,4,1,3]]
my_list_sorted_by_index_3 = sorted(my_lists, key=lambda index_value: index_value[3])
print(my_list_sorted_by_index_3)

[[4, 3, 2, 1], [2, 4, 1, 3], [1, 2, 3, 4]]

In [59]:
from operator import itemgetter

In [60]:
# itemgetter() 함수를 이용하여 2개 인덱스 위치에 따라 리스트 정렬하기
my_lists = [[123,2,2,444], [22,6,6,444], [354,4,4,678], [236,5,5,678]]
my_lists_sorted_by_index_3_and_0 = sorted(my_lists, key=itemgetter(3,0))
my_lists_sorted_by_index_3_and_0

[[22, 6, 6, 444], [123, 2, 2, 444], [236, 5, 5, 678], [354, 4, 4, 678]]

In [66]:
# 딕셔너리 정렬
a_dict = {'one':1, 'two':2, 'three':3}
dict_copy = a_dict.copy()
print(sorted(dict_copy.items(), key=lambda item: item[0]))
print(sorted(dict_copy.items(), key=lambda item: item[1]))
print(sorted(dict_copy.items(), key=lambda item: item[1], reverse=True))
print(sorted(dict_copy.items(), key=lambda item: item[1], reverse=False))

[('one', 1), ('three', 3), ('two', 2)]
[('one', 1), ('two', 2), ('three', 3)]
[('three', 3), ('two', 2), ('one', 1)]
[('one', 1), ('two', 2), ('three', 3)]

In [69]:
# 리스트 축약
my_data =[[1,2,3], [4,5,6], [7,8,9]]
rows_to_keep = [row for row in my_data if row[2] > 5]
rows_to_keep

[[4, 5, 6], [7, 8, 9]]

In [74]:
# 잡합축약
my_data = [(1,2,3), (4,5,6), (7,8,9), (7,8,9)]
set_of_tuples1 = {x for x in my_data}
print(set_of_tuples1)
set_of_tupels2 = set(my_data)
print(set_of_tupels2)

{(4, 5, 6), (7, 8, 9), (1, 2, 3)}
{(4, 5, 6), (7, 8, 9), (1, 2, 3)}

In [78]:
# 딕셔너리 축약
my_dict = {'customer1': 7, 'customer2': 9, 'customer': 11}
{key: value for key, value in my_dict.items() if value > 10}

{'customer': 11}

In [79]:
# while 문
x = 0
while x < 11:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10

In [80]:
import numpy as np
np.mean([1,2,3,4,5])

3.0

In [81]:
try:
    result = np.mean([1,2,3,4,5])
except ZeroDivisionError as detail:
    print(float('nan'))
    print(detail)
else:
    print(result)
finally:
    print('finally')

3.0
finally

In [82]:
try:
    result = np.mean([])
except ZeroDivisionError as detail:
    print(float('nan'))
    print(detail)
else:
    print(result)
finally:
    print('finally')

nan
finally

/usr/local/var/pyenv/versions/3.6.0/envs/analytics/lib/python3.6/site-packages/numpy/core/fromnumeric.py:2909: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/var/pyenv/versions/3.6.0/envs/analytics/lib/python3.6/site-packages/numpy/core/_methods.py:80: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)